*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

body{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box !important;
}

ul {
    padding: 0 !important;
    height: 100% !important;
}

ul li {
    background-color: transparent !important;
    border-radius: 0 !important;
    border-color: rgb(41,41,41) !important;
    padding: 0 10px !important;
    border-bottom-style: none !important;
    border-top-style: none !important;
    height: 100% !important;
}

a{
    text-decoration: none !important;
}

ul li:hover{
    cursor: pointer;
}

p{
    margin-bottom: 0 !important;
}

.header-top{
    background-color: rgb(32,32,32);
    width: 100%;
    padding: 5px 0;
    font-size: 14px;
}

.container__header{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header-top-left{
    display: flex;
    flex-direction: row;
    justify-content: center !important;
}

.header-top__social{
    height: 100%;
}

.header-top-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-main{
    width: 100% !important;
    padding: 0;
    font-size: 14px;
    background-image: url(../images/other/header-main-background.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.container__header-main{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-main__logo{
    display: flex;
    justify-content: flex-end;
    padding-right: 6rem !important;
}

.main__search span{
    color: rgb(125,125,125);
    font-size: 1rem;
}

.header-main__right{
    display: flex;
    justify-content: flex-start;
    padding-left: 4rem !important;
}

.input-group{
    width: 100% !important;
    padding: 10px 10px 10px 30px !important;
    border-radius: 32px !important;
    background-color: white ;
}

.input-group span{
    padding-left: 1rem;
    border-left: 1px solid rgb(235,235,235);
}

.input-group i{
    opacity: 0.5;
}

.search-field{
    width: 85%;
}

.header-main__cart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

.header-main__cart:hover{
    cursor: pointer;
}

.header-main__cart i {
    color: black;
    margin: 0 5px;
    width: 20px;
    height: 20px;
}

.header-main__cart span{
    font-size: 1rem;
    font-weight: 500;
    margin-left: 3px;
}

.header-nav{
    background-color: rgb(63,184,113);
}

.header-nav nav{
    background-color: transparent !important;
    padding: 0 !important;
    width: 83%;
}

.header-nav nav ul {
    margin: 0 auto;
}

.header-nav nav ul li a{
    color: white !important;
    font-weight: 700;
    padding: 16px !important;
}

.header-nav nav ul li:nth-child(2){
    background-color: rgb(54,166,109) !important;
}

.header-nav nav ul li:not(:first-child):hover{
    background-color: rgb(54,166,109) !important;
}

.footer-wrapper{
    width: 100%;
    background-color: rgb(49,49,49);
    height: fit-content;
}

.footer-top{
    width: 100%;
    padding: 30px;
}

.footer__container{
    display: flex !important;
    align-items: center !important;
}

.footer__container-top{
    color: rgb(128,128,128);
    font-weight: 700;
    margin: 0 11.5% !important;
    width: 90% !important;
}

.footer-social-channel{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-social-logo i{
    margin-right: 1rem;
}

.footer-top-mail{
    max-width: 100% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.footer-top-mail p {
    width: 16%;
    margin-right: 2%;
    min-width: 11rem;
}

.input-group-mail{
    min-width: 15rem;
    width: 42%;
    padding: 10px 0 10px 10px;
    background-color: white;
    position: relative;
}

.input-group-mail input{
    width: 80%;
}

.input-group-mail span{
    padding: 12px 1rem 8px 1rem;
    background-color: rgb(63,184,113);
    color: white;
    position: absolute;
    right: 0;
    top: 0;
}

.br{
    background-color:  rgb(73,73,73);
    height: 1px;
}

.footer-bottom{
    
}